body {
    font-family: "Open Sans";
}

.fixed-height-img-logo {
    height: 100px;
}

.fixed-height-img-eurocert{
    height: 90px;
}
.letra-color{
   color: #4a8d76;
   font-weight: bold;
}

h1 {
    font-size: 17px;
}

.table-container {
    width: 85%;
    border-spacing: 0;
}

.pie-fondo {
    background-color: #4a8d76;
    margin-left: 0;
    color:white;
}

p,ul,ol {
    font-size: 13px;
}

th, td {
    font-size: 13px;
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.sin-margin-bottom {
    margin-bottom: 0;
}
.no-vertical-padding {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    line-height: 1; /* Ajusta el contenido al tamaño de la letra */
}

